<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Projetos</title>
</head>




<body>
    
    <div class="grid-conteiner">
        <h1 class="title-grid">Projetos</h1>
        <ul class="grid-link">
            <div class="grid-container">
                
                <div class="grid-item">
                    
                    <figure>
                        <img class="grid-image" src="https://i.postimg.cc/MHvnzPnY/DALL-E-2024-09-17-18-54-43.webp"/> 
                        <figcaption >
                            <h1 class="figure-text">Utilizando python para bucar dados em uma api financeira</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/Finsearch"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>

                <div class="grid-item">
                    
                    <figure>
                        <img class="grid-image" src="https://i.postimg.cc/9fxY8fDn/DALL-E-2024-09-20-17-25-59.webp"/> 
                        <figcaption >
                            <h1 class="figure-text">Um scraping em python que extrai papers de periodicos</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/ShannonScraper"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure>
                        <img class="grid-image" src="https://i.postimg.cc/JhKkrdmD/DALL-E-2024-09-20-17-22-50.webp"/> 
                        <figcaption >
                            <h1 class="figure-text">Uma analise com os dados do portal da trasparencia</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/ecosTransparentes"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure>
                        <figcaption >
                            <h1 class="figure-text">Em breve</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure>
                        <figcaption >
                            <h1 class="figure-text">Em breve</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>
                <div class="grid-item">
                    <figure>
                        <figcaption >
                            <h1 class="figure-text">Em breve</h1>
                            <span class="caption-span">
                                <a href="https://github.com/Victor-Sousa-hub/"><img src="https://i.postimg.cc/wvGqts8r/github-6980894-960-720.webp" class= "figure-img img-rotate"></a>
                            </span>     
                    <figcaption>
                    </figure>
                </div>
            </div>
        </ul>
        
</body>
</html>
